<%- include('./partials/header') %>

<div class="homeSplash">
    <h1 class="display-1">Welcome to Mongoose Flights</h1>
    <img class="backgroundHome" src="https://mediacloud.kiplinger.com/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1632420574/Investing/airline-stocks-2021.jpg">
</div>

<%- include('./partials/footer') %>
