<%- include('./partials/header') %>

<div class="homePage">
    <h1 class="display-1 homeTitle">Welcome to Mongoose Flights</h1>
    <img class="homeBg" src="https://mediacloud.kiplinger.com/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1632420574/Investing/airline-stocks-2021.jpg">
</div>

<%- include('./partials/footer') %>
